{{ define "main" }}
<div class="content-container">
  <div class="grid-container" id="grid-container">
    <div class="title-container">
      <h1> {{ .Params.title }} </h1>
    </div>
    {{ range .Pages }}
    {{ $img := relURL (urls.JoinPath "images/projects" .Params.img) }}
    <div class="grid-item">
      <a href="{{ .Params.link }}">
        <img src="{{ $img }}" alt="{{ .Title }}">
      </a>
      <div class="text">
        <a href="{{ .Params.link }}" class="nameLink_a"> {{ .Params.title }} </a>
        <p>{{ .Content | markdownify }}</p>
      </div>
    </div>
    {{ end }}
  </div>
  <p>
    {{ .RawContent | markdownify }}
  </p>
</div>
{{ end }}

