{{ define "main" }}

<div class="content-container"></div>

<script>
  async function loadData(filePath) {
    const response = await fetch(filePath);
    return response.json();
  }

  async function loadAllData() {
    const projectsData = await loadData('/isp/data/projects/current_projects.json');
    const pastProjectsData = await loadData('/isp/data/projects/past_projects.json');

    const container = document.querySelector('.content-container');

    // Agregar subtítulo para proyectos actuales
    const currentProjectsTitle = document.createElement('h1');
    currentProjectsTitle.innerHTML = 'Current projects';
    currentProjectsTitle.style.marginBottom = '20px'; // Agregar margen bottom
    container.appendChild(currentProjectsTitle);

    // Agregar proyectos actuales a la tabla
    const currentProjectsTable = document.createElement('table');
    currentProjectsTable.classList.add('table', 'table-hover');
    container.appendChild(currentProjectsTable);

    projectsData.projects.forEach(project => {
      const row = currentProjectsTable.insertRow();
      const cell1 = row.insertCell(0);
      const cell2 = row.insertCell(1);

      cell1.style.width = '10%';
      cell1.innerHTML = `<img src="/isp/images/projects/${project.image}" height="${project.image_size.height}" width="${project.image_size.width}">`;
      cell2.style.width = '90%';
      cell2.innerHTML = `<a href="${project.link}">${project.name}</a><br>${project.description}`;
    });

    // Agregar subtítulo para proyectos pasados
    const pastProjectsTitle = document.createElement('h1');
    pastProjectsTitle.innerHTML = 'Past projects';
    pastProjectsTitle.style.marginBottom = '20px';
    pastProjectsTitle.style.backgroundColor = '#5cb85c';
    container.appendChild(pastProjectsTitle);

    // Agregar proyectos pasados a la tabla
    const pastProjectsTable = document.createElement('table');
    pastProjectsTable.classList.add('table', 'table-hover');
    container.appendChild(pastProjectsTable);

    pastProjectsData.projects.forEach(project => {
      const row = pastProjectsTable.insertRow();
      const cell1 = row.insertCell(0);
      const cell2 = row.insertCell(1);

      cell1.style.width = '10%';
      cell1.innerHTML = `<img src="/isp/images/projects/${project.image}" height="${project.image_size.height}" width="${project.image_size.width}">`;
      cell2.style.width = '90%';
      cell2.innerHTML = `<a href="${project.link}">${project.name}</a><br>${project.description}`;
    });
  }

  document.addEventListener('DOMContentLoaded', loadAllData);
</script>
{{ end }}
