{{ define "main" }}
<div class="content-container">
    <div class="panel-grid-container" id="panel-grid-container">
        <div class="title-container">
            <h1> {{ .Params.title }} </h1>
        </div>
        {{ range .Pages }}
        {{ $img := urls.JoinPath "/images/adicionales" .Params.img }}
        <div class="panel-item">
            <div class="panel-header">
                <h4 class="panel-title"><b>{{ .Title }}</b></h4>
            </div>
            <div class="panel-body">
                <div class="panel-content row">
                    <div class="panel-image col-md-2">
                        <a href="{{ .Params.link }}">
                            <img src="{{ $img }}" alt="{{ .Params.image_alt }}">
                        </a>
                    </div>  
                    <div class="panel-description col-md-6">
                        <h5>
                            <p class="text-justify">{{ .Params.description | markdownify }}</p>
                        </h5>
                    </div>  
                    <div class="panel-references col-md-4">
                        <h6><b>References</b></h6>
                        <ul class="references-list">
                            {{ range .Params.references }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        {{ end }}
    </div>
    <p>{{ .RawContent | markdownify }}</p>
</div>
{{ end }}
