{{ define "main" }}
<div class="content-container" style="font-size: 14px;">
  <h1 style="margin-bottom: 20px;">Software</h1>
  <br>
  <div class="grid-container" id="grid-container" style="font-size: 0.9em;">
    {{ range .Pages }}
    <div class="grid-item">
      <a href="{{ .RelPermalink }}" style="text-decoration: none;">
        <img src="{{ .Params.image }}" alt="{{ .Title }}" style="height: 100px; width: 100px; margin-right: 10px;">
      </a>
      <div class="text">
        <a class="nameLink_a" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <!-- <p>{{ .Summary }}</p> -->
      </div>
    </div>
    {{ end }}
  </div>

  <p>
    Check also our GitHub repos at <a href="https://github.com/IPL-UV/">https://github.com/IPL-UV/</a>.
  </p>
</div>
{{ end }}