{{ define "main" }}
<div class="title-container"><h1>{{ .Title }}</h1></div>
<div class="content-container">
  <div class="grid-container" id="grid-container">
    {{ range .Pages }}
    {{ $img := relURL (urls.JoinPath "images/code" .Params.img) }}
    <div class="grid-item">
      <a href="{{ .Params.link }}">
        <img loading="lazy" decoding="async" src="{{ $img }}" alt="{{ .Title }}">
      </a>
      <div class="text">
        <a href="{{ .Params.link }}" class="nameLink_a"> {{ .Params.title }} </a>
        {{ .Content }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ .RawContent | markdownify }}
</div>
{{ end }}

