{{ define "main" }}
<div class="content-container grid-layout">
    <div class="box-header">
        <h1> {{ .Title }} </h1>
    </div>

    <div class="box-abstract">
        <p>{{ .Params.abstract | markdownify }}</p>
    </div>

    {{ if .Params.imagenes }}
    <aside class="box-gallery">
        <div class="gallery-grid">
            {{ range .Params.imagenes }}
            <div class="gallery-item">
                {{ if or (strings.HasSuffix .ruta ".webp") (strings.HasSuffix .ruta ".jpg") (strings.HasSuffix .ruta ".png") }}
                <!-- Renderiza una imagen -->
                <a href="{{ .ruta }}" class="gallery-thumbnail">
                    <img src="{{ .ruta }}" alt="{{ .titulo | default "" }}">
                </a>
                {{ else if or (strings.HasSuffix .ruta ".mp4") (strings.HasSuffix .ruta ".webm") }}
                <!-- Renderiza un video -->
                <video controls>
                    <source src="{{ .ruta }}" type="video/{{ index (split .ruta ".") 1 }}">
                    Your browser does not support the video tag.
                </video>
                {{ end }}

                {{ if .titulo }}
                <p class="gallery-title">{{ .titulo }}</p>
                {{ end }}
                {{ if .descripcion }}
                <div class="gallery-description">
                    <p>{{ .descripcion }}</p>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </aside>
    {{ end }}

    <section class="box-references title2">
        <h2>References</h2>
        <ul class="references-list">
            {{ range .Params.referencias }}
            <li>
                {{ if .url }}
                <strong><a href="{{ .url }}" target="_blank" class="references-name">{{ .nombre }}</a></strong>
                {{ else }}
                <strong>{{ .nombre }}</strong>
                {{ end }}<br>
                <span>{{ .autores }}</span><br>
                <em>{{ .publicacion | markdownify }}</em>
            </li>
            {{ end }}
        </ul>
    </section>
    {{ if .Params.enlaces }}
    <section class="box-enlaces title2">
        <h2>Download</h2>
        {{ if .Params.desc_download }}
        <div class="enlaces-description">
            <p>{{ .Params.desc_download | markdownify }}</p>
        </div>
        {{ end }}
        <ul class="enlaces-list">
            {{ range .Params.enlaces }}
            <li><a href="{{ .url }}">{{ .nombre }}</a></li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
</div>

{{ end }}
