.navbar {
  --bs-navbar-padding-y: 0rem !important; 
  background-color: #222 !important;
}

h2,h3{
  margin-bottom: 20px;
}

.a {
  color: #949494 !important;
}

.a:hover {
  color: #fff !important;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav .dropdown-menu:hover {
  display: block;
}

.dropdown-menu {
  margin-top: 7px; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-item-highlight{
  padding: 0.4rem;
}
.nav-item-highlight:hover{
  background-color: #2d70aa !important;
}

.dropdown-menu {
  background-color: #fff !important;
  color: #000 !important;
}

.dropdown-item:hover {
  background-color: #2d70aa !important;
  color: #fff !important;
}

.navbar-nav li.nav-item .nav-link,
.dropdown-menu .dropdown-item {
  transition: color 0.3s, background-color 0.3s;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}


@media (max-width: 768px) {
  .div_sedal {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .div_sedal {
    flex-wrap: wrap;
  }
  .div_sedal > a {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 0 10px;
  }
}

h1,h2{
  text-align: left !important;
}

a{
  text-decoration: none !important;
  color: #337ab7;
}

a:hover{
  
  text-decoration: underline !important;
  color: #2e343a;
}


/*estilos para openSR*/

.container-slider {
  position: relative;
  width: 400px;  /* image width,  e.g. 400px*/
  height: 390px;  /* image height, e.g. 390px */
  border: 2px solid white;
}
.container-slider .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 400px 100%; /* image width */
}
.container-slider .background-img {
  background-image: url(/isp/images/projects/opensr/esa.png);
}
.container-slider .foreground-img {
  background-image: url(/isp/images/projects/opensr/esa_pixel_x4.png);
  width: 50%;
}
.container-slider .slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.3);
  outline: none;
  margin: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-slider .slider:hover {
  background: rgba(242, 242, 242, 0.1);
}
.container-slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 390px; /* image height */
  background: white;
  /* cursor: pointer; */
  cursor: grab;
}
.container-slider .slider::-moz-range-thumb {
  width: 6px;
  height: 390px; /* image height */
  background: white;
  cursor: grab;
}
.container-slider .slider-button {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  /*background-color: rgba(0,0,0,0.3);*/
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-slider .slider-button:after {
  content: "";
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}
.container-slider .slider-button:before {
  content: "";
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}




.img_people_ai4cs{
  display: block;
  margin-top: 10%;
  margin-bottom: 20px;
}


@media (max-width: 767px) {
  .images-container {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.lightblue {
  background-color: #5bc0de;
}

.red {
  background-color: #d9534f;
}

.green {
  background-color: #5cb85c;
}

.yellow{
  background-color: #f0ad4e;
}

@media (max-width: 767px) {
  .imgs-people{
    overflow: auto;
  }
  .imgs-people img{
    margin-top: 0%;
  }
  
  .img-collabs{
    overflow: auto;
  }
}



/*css para los botones de filtrado de la seccion de publications en sedal*/

.btn-projects {
  background-color: #ececec;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.btn-years {
  background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
  border-color: #245580;
}

.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.btn .badge {
  position: relative;
  top: -1px;
}