{{ define "main" }}
<div class="content-container" style="font-size: 1.1em; text-align: justify; line-height: 1.1;">
  {{ .Content }}
  <table class="table table-hover">
    <tr>
        <th style="width: 10%">
            <img src="/isp/images/research/fbbva.png" height="60" width="90">
        </th>
        <th style="width: 90%">
            <a href="https://www.fbbva.es/noticias/concedidas-5-ayudas-a-equipos-de-investigacion-cientifica-en-big-data/">SCALE: Causal inference in the human-biosphere coupled system (SCALE)</a><br>
            Fundación BBVA, G. Camps-Valls, 2020-2022
        </th>
    </tr>
    <tr>
        <th style="width: 10%">
            <img src="/isp/images/research/h2020.jpg" height="50" width="80">
        </th>
        <th style="width: 90%">
            <a href="https://xaida.eu">XAIDA: Extreme Events - Artificial Intelligence for Detection and Attribution</a><br>
            EU H2020, UV PI: Gustau Camps-Valls, 2021-2025
        </th>
    </tr>
    <tr>
        <th style="width: 10%">
            <img src="/isp/images/research/h2020.jpg" height="50" width="80">
        </th>
        <th style="width: 90%">
            <a href="https://deepcube-h2020.eu">DeepCube: Explainable AI pipelines for big Copernicus data, UV PI: Gustau Camps-Valls</a><br>
            EU H2020, 2021-2024
        </th>
    </tr>
    <tr>
        <th style="width: 10%">
            <img src="/isp/images/research/h2020.jpg" height="50" width="80">
        </th>
        <th style="width: 90%">
            <a href="http://www.citizensensor-cost.eu">Mapping and the citizen sensor</a><br>
            ICT COST Action, 01/13 - 12/16
        </th>
    </tr>
</table>

  <br>
  <br>
</div>
{{ end }}