{{ define "main" }}
<div class="content-container">
  {{ range .Pages }}
  <div class="title-container">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="collaborators-grid">
    <!-- Renderizar el contenido directamente desde el archivo Markdown, modificando las rutas de las imágenes -->
    {{ $content := .Content }}
    <!-- Reemplazar las rutas que no tienen "http" ni "/" al inicio -->
    {{ $content = replace $content "src=\"" (printf "src=\"%s" (relURL "images/home/")) }}
    <!-- Corregir las URLs que comienzan con "http" o "https" para que no se modifiquen -->
    {{ $content = replace $content (printf "src=\"%s" (relURL "images/home/http")) "src=\"http" }}
    {{ $content | markdownify | safeHTML }}
  </div>
  {{ end }}
</div>
{{ end }}
