{{ define "main" }}
<div class="container">
    <h1><span class="label label-info">Facilities</span></h1>
    {{ range .Pages }}
    <div class="row facility mb-4">
        <div class="col-md-4">
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-fluid" style="width: 100%">
        </div>
        <div class="col-md-8 d-flex align-items-center">
            <div>
                <h3 class="facility-title">{{ .Title }}</h3>
                <p class="facility-description">{{ .Content | safeHTML }}</p>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}