{{ define "main" }}

<textarea id="bibtex_input" style="display:none;"></textarea>

<div class="content-container" style="font-size: 14px;">
  <h1>Invited talks</h1>
    <div class="main">
      <div class="bibtex_template" style="display:none; padding: 0.8em;">
        <li style="padding: 0.2em;">
          <span>
            <span class="if title" style="font-weight: bold;">
              <span class="title"></span><br>
            </span>
            <span class="author"></span><br>
            <span class="if booktitle" style="font-style: italic;">
              <span class="booktitle"></span>,
              <span class="if address" style="font-style: normal;">
                <span class="address"></span>
              </span>
            </span>
            <span class="if journal" style="font-style: italic;">
              <span class="journal"></span>
            </span>
            <span class="if publisher">
              <span class="publisher"></span>
            </span>
            <span class="if school">
              <span class="school"></span>
            </span>
            <span class="if volume">
              <span class="volume"></span>
              <span class="if number">(<span class="number"></span>)</span>
              <span class="if pages">:<span class="pages"></span>,
              </span>
            </span>
            <span class="if edition">
              <span class="edition"></span> ed.,
            </span><span class="year"></span>
          </span>
          <br>

          <span class="if url">
            <a class="url" style="color: #FFFFFF;">
              <button type="button" class="btn btn-xss btn-info" aria-label="Left Align"> URL </button>
            </a>
          </span>
          <span class="if arxiv">
            <a class="arxiv" style="color: CA2B2B;">
              <button type="button" class="btn btn-xss btn-danger" aria-label="Left Align"> arXiv </button>
            </a>
          </span>
          <span class="if pdf">
            <a class="pdf" style="color: #FFFFFF;">
              <button type="button" class="btn btn-xss btn-danger" aria-label="Left Align"> PDF </button>
            </a>
          </span>
          <span class="if video">
            <a class="video" style="color: #FFFFFF;">
              <button type="button" class="btn btn-xss btn-info" aria-label="Left Align"> Watch! </button>
            </a>
          </span>
          <span class="if doi">
            <a class="doi" style="color: #FFFFFF;">
              <button type="button" class="btn btn-xss btn-warning" aria-label="Left Align"> DOI </button>
            </a>
          </span>
          <span class="if code">
            <button type="button" class="btn btn-xss btn-danger" aria-label="Left Align">
              <a class="code" style="color: #FFFFFF;"> Code </a>
            </button>
          </span>
          <span class="if project">
            <button type="button" class="btn btn-xss btn-warning" aria-label="Left Align">
              <a class="code" style="color: #FFFFFF;"> Project </a>
            </button>
          </span>
          <span class="if bibtex">
            <button type="button" class="btn bibtex_but btn-xss btn-success" data-toggle="collapse"
              data-target="#demo">bibtex</button>
          </span>
          <span class="if doi">
            <div style="display: inline-block;" class='doi altmetric-embed' data-hide-no-mentions='true'
              data-link-target='_blank'></div>
          </span>
          <br>
          <span>
            <div class="bibtexdata alert alert-success collapse closed" role="alert">
              <span class="bibtex"></span>
            </div>
          </span>
        </li>
      </div> <!-- bibtex_template -->


      <ol reversed>
        <div class="projects hide" style="margin-bottom: 10px;">
          <button class="btn btn-normal btn-projects" value="all">All projects</button>
        </div>
        <div class="years panel-title hide">
          <button class="btn btn-primary btn-years" type="button" value="all">All years</button>
        </div>        
        <div class="panel-body">
          <div id="bibtex_display"></div>
        </div>
      </ol>

    </div> <!-- main -->

  </div>

<script type="text/javascript" src="/isp/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/isp/js/bibtex_js.js"></script>
<script type="text/javascript" src="/isp/js/bibtex_functions.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("#bibtex_input").load("/isp/data/publications/talks.bib", my_bibtex_js_draw);
  });
</script>

{{ end }}