{{ define "main" }}
<div class="content-container">
  <div class="grid-item grid-filter">
    <div class="filter-container">
      <label for="year-filter">Filter by:</label>
      <select id="year-filter" onchange="updateFilters()">
        <option value="">All Years</option>
        {{ $years := slice }}
        {{ range sort (where .Site.RegularPages "Section" "seminars") "Date" "desc" }}
          {{ $year := .Date.Format "2006" }}
          {{ if and (not (in $years $year)) (ne $year "0001") }}
            <option value="{{ $year }}">{{ $year }}</option>
            {{ $years = $years | append $year }}
          {{ end }}
        {{ end }}
      </select>      

      <label for="month-filter"></label>
      <select id="month-filter" onchange="updateFilters()">
        <option value="">All Months</option>
        {{ $months := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
        {{ range $index, $month := $months }}
        <option value="{{ $month }}">{{ $month }}</option>
        {{ end }}
      </select>

      <label for="speaker-filter"></label>
      <select id="speaker-filter" onchange="updateFilters()">
        <option value="">All Speakers</option>
        {{ $speakers := slice }}
        {{ range sort (where .Site.RegularPages "Section" "seminars") "Date" "desc" }}
          {{ with .Params.speaker }}
            {{ if not (in $speakers .) }}
              <option value="{{ . }}">{{ . }}</option>
              {{ $speakers = $speakers | append . }}
            {{ end }}
          {{ end }}
        {{ end }}
      </select>
    </div>
  </div>

  <div class="grid-container" id="seminar-grid-container">
    {{ range sort (where .Site.RegularPages "Section" "seminars") "Date" "desc" }}
      {{ $img := relURL (urls.JoinPath "images/seminars" (.Params.img | default "uv.webp")) }}
      {{ $current := . }}
      <div class="grid-item seminar-item project-item" data-year="{{ .Date.Format "2006" }}" data-month="{{ .Date.Format "January" }}" data-speaker="{{ .Params.speaker }}">
        <div class="image-container seminar-image">
          {{ with .Params.link }}
            <a href="{{ . }}">
              <img src="{{ $img }}" alt="{{ $current.Params.image_alt | default "Default Seminar Image" }}">
            </a>
          {{ else }}
            <img src="{{ $img }}" alt="{{ .Params.image_alt | default "Default Seminar Image" }}">
          {{ end }}
        </div>
        <div class="text-container seminar-text">
          {{ with .Params.link }}
            <a href="{{ . }}" class="nameLink_a seminar-title">{{ $current.Params.title | markdownify }}</a>
          {{ else }}
            <p class="nameLink_a seminar-title">{{ .Params.title | markdownify }}</p>
          {{ end }}
          {{ with .Params.speaker }} 
          <p><strong>Speaker:</strong> {{ . }} </p>
          {{ end }}
          {{ with .Params.affiliation }}
          <p><strong>Affiliation:</strong> {{ . }}</p>
          {{ end }}
          <p>
            <span class="day">{{ .Date.Format "02" }}</span>
            <span class="month">{{ .Date.Format "January" }}</span>
            <span class="year">{{ .Date.Format "2006" }}</span>
          </p>
        </div>
      </div>
    {{ end }}
  </div>
</div>

<script>
  function updateFilters() {
    const year = document.getElementById('year-filter').value;
    const month = document.getElementById('month-filter').value;
    const speaker = document.getElementById('speaker-filter').value;
    const items = document.querySelectorAll('.seminar-item');

    // Gather available options based on current filter selection
    let availableMonths = new Set();
    let availableSpeakers = new Set();

    items.forEach(item => {
      const itemYear = item.getAttribute('data-year');
      const itemMonth = item.getAttribute('data-month');
      const itemSpeaker = item.getAttribute('data-speaker');

      const yearMatch = (year === "" || itemYear === year);
      const monthMatch = (month === "" || itemMonth === month);
      const speakerMatch = (speaker === "" || itemSpeaker === speaker);

      // Display or hide items based on selected filters
      if (yearMatch && monthMatch && speakerMatch) {
        item.style.display = 'flex';
        if (year === "" || yearMatch) {
          availableMonths.add(itemMonth);
          availableSpeakers.add(itemSpeaker);
        }
      } else {
        item.style.display = 'none';
      }
    });

    // Keep Year Filter always visible
    const yearFilter = document.getElementById('year-filter');
    Array.from(yearFilter.options).forEach(option => {
      option.style.display = 'block';
    });

    // Update Month Filter
    const monthFilter = document.getElementById('month-filter');
    Array.from(monthFilter.options).forEach(option => {
      if (option.value === "" || availableMonths.has(option.value)) {
        option.style.display = 'block';
      } else {
        option.style.display = 'none';
      }
    });

    // Update Speaker Filter
    const speakerFilter = document.getElementById('speaker-filter');
    Array.from(speakerFilter.options).forEach(option => {
      if (option.value === "" || availableSpeakers.has(option.value)) {
        option.style.display = 'block';
      } else {
        option.style.display = 'none';
      }
    });
  }
</script>
{{ end }}
