<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode}}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "nav.html" . }}
  <main>
    <div class="container">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  {{ partial "footer.html" . }}
  {{- $vbs := substr (sha256 (readFile "static/js/bootstrap.bundle.min.js")) 0 10 -}}
  <script src="{{ relURL "js/bootstrap.bundle.min.js" }}?v={{ $vbs }}" defer></script>
</body>
</html>