{{ define "main" }}
  <div style="text-align:center;">
    <img src="{{ .Params.banner }}" alt="ISP Banner" style="width:75%; margin:auto; margin-top:20px;"/>
  </div>

  <div class="row justify-content-center" style="margin-top:40px;">
    <div class="col-md-3 text-center">
      <iframe src="https://player.vimeo.com/video/869866902" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-md-7" style="text-align: justify;">
      {{ .Content }}
      <a href="https://scholar.google.es/citations?hl=en&user=MsMYu-IAAAAJ"><i class="fab fa-google"></i></a> 
      <a href="https://www.researchgate.net/lab/ISP-Image-and-Signal-Processing-Gustau-Camps-Valls"></a><i class="fa-brands fa-researchgate" style="color: #0d6efd;"></i></a> 
      <a href="https://twitter.com/isp_uv_es"><i class="fa-brands fa-x-twitter"></i></a>
    
      <a href="https://github.com/IPL-UV"><i class="fab fa-github"></i></a> 
      <a href="./../../../../videos/"><i class="fab fa-youtube"></i></a>   
      <a href="mailto:gustau.camps@uv.es"><i class="fa fa-envelope"></i></a> 
      <a href="https://bsky.app/profile/isp-uv-es.bsky.social"><i class="fa-sharp fa-solid fa-bug" style="color: #0d6efd;"></i></a> 
      <div style="text-align:right">&#169; ISP, 2024</div>
    </div>
  </div>
{{ end }}
