{{ define "main" }}
    <div class="custom-wrapper">
        <div class="custom-banner">
            <img src="{{ relURL .Params.banner }}" alt="ISP Banner">
            <div class="custom-bannet-text">
                <h1 style="color: #33646e; background: none; border-radius: 0; padding: 0;"> <span style="color: #2b2b2b;">ISP ·</span> Image &amp; Signal Processing</h1>
                <p style="color: #479bb0">Universitat de València</p>
            </div>

        </div>

        <div class="custom-content">
            <div class="custom-video">
            <div class="embed-16by9">
                <iframe
                src="https://www.youtube.com/embed/WWQ26ep5hJo?rel=0&modestbranding=1&playsinline=1"
                loading="lazy"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
                </iframe>
            </div>
            </div>

            <div class="custom-text">
                {{ .Content }}
                <div class="custom-social-links">
                    <a href="https://scholar.google.es/citations?hl=en&user=MsMYu-IAAAAJ" target="_blank" rel="noopener noreferrer" aria-label="Google Scholar">
                        <i class="fa-brands fa-google-scholar" style="color: #336daf;"></i>
                    </a>
                    
                    <a href="https://www.researchgate.net/lab/ISP-Image-and-Signal-Processing-Gustau-Camps-Valls" target="_blank" rel="noopener noreferrer" aria-label="ResearchGate">
                        <i class="fab fa-researchgate" style="color: #60d2be;"></i>
                    </a>

                    <a href="https://bsky.app/profile/isp-uv-es.bsky.social" target="_blank" rel="noopener noreferrer" aria-label="Bluesky">
                        <i class="fa-brands fa-bluesky" style="color: #3a85ff;"></i>
                    </a>

                    <a href="https://www.linkedin.com/company/image-and-signal-processing/posts/?feedView=all" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                        <i class="fa-brands fa-linkedin" style="color: #2a66c2;"></i>
                    </a>
                    
                    
                    <a href="https://www.instagram.com/isp_uv_es/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                        <i class="fa-brands fa-instagram" style="color: #f61971;"></i>
                    </a>
    
                    <a href="https://github.com/IPL-UV" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                        <i class="fab fa-github" style="color: #080808;"></i>
                    </a>
                    
                    <a href="{{ relURL "videos/" }}" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                        <i class="fab fa-youtube" style="color: #f50234;"></i>
                    </a>

                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=infoisp@uv.es" target="_blank" rel="noopener noreferrer" aria-label="Email">
                        <i class="fa fa-envelope" style="color: #3d363b;"></i>
                    </a>
                                       
                </div>
            </div>
        </div>
    </div>


    
{{ end }}
