<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <script>
        // Obtén la URL actual
        const currentPath = document.location.pathname;

        // Verifica si la ruta empieza con "/ppts/"
        if (currentPath.startsWith("/ppts")) {
            // Construye la nueva URL dinámica
            const redirectUrl = "https://huggingface.co/datasets/isp-uv-es/Web_site_legacy/resolve/main/courses" + currentPath;

            // Redirige a la URL de Hugging Face
            window.location.href = redirectUrl;
        } else {
            // Para cualquier otra ruta, muestra un mensaje 404 normal
            document.write("<h1>Page Not Found</h1>");
        }
    </script>
</head>
<body>
</body>
</html>