<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Params.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/isp/generic_projects.css">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mx-auto mb-lg-0">
            {{ $currentProject := .Params.title }}
            {{ $currentOptions := index .Site.Params.projects $currentProject }}
            {{ range $currentOptions.nav_options }}
            <li class="nav-item {{ if .sub_options }}dropdown{{ end }} px-2 nav-item-highlight">
              <a class="nav-link {{ if .sub_options }}dropdown-toggle{{ end }} active a" href="{{ .url }}" role="button"
                aria-expanded="false">
                {{ .label }}
              </a>
              {{ if .sub_options }}
              <ul class="dropdown-menu">
                {{ range .sub_options }}
                <li><a class="dropdown-item a" href="{{ .url }}">{{ .label }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
        <a class="navbar-brand ms-auto" href="/isp/projects/" style="color: #949494;">Back to ISP <i
            class="fa-solid fa-right-to-bracket"></i></a>
      </div>
    </nav>

    <div class="row" style="margin-top: 80px;">
      <div  style="text-align: justify;">
        {{ .Content }}
      </div>
    </div>
    

</body>

<!-- scripts para el nav-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector('.navbar-toggler').addEventListener('click', function () {
      document.querySelector('.navbar-collapse').classList.toggle('show');
    });
  });
</script>

<script>
  window.onload = function () {
    // Detectar la escala de la pantalla
    const scale = window.devicePixelRatio;

    // Obtener la barra de navegación
    const navbar = document.querySelector('.navbar-collapse');

    // Si la escala es mayor o igual a 1.25, agregar la clase para mostrar el menú desplegable
    if (scale >= 1.25) {
      navbar.classList.add('show');
    }
  };
</script>

</html>