{{ define "main" }}
<div class="content-container">
    {{ range .Pages }}
    {{ $img := relURL (urls.JoinPath "images/courses" .Params.img) }}
    {{ $imgBase := path.Base .Params.img }}
    {{ $altText := strings.TrimSuffix $imgBase (path.Ext $imgBase) }} <!-- Esto genera el nombre sin la extensión -->
    <div class="panel-item">
        <div class="panel-header">
            <h4 class="panel-title"><b>{{ .Title }}</b></h4>
        </div>
        <div class="panel-body">
            <div class="panel-content row">
                <div class="panel-image col-md-2">
                    <a href="{{ .Params.link }}">
                        <img src="{{ $img }}" alt="{{ if .Params.img }}{{ $altText }}{{ else }}Image{{ end }}">
                    </a>
                </div>  
                <div class="panel-description">
                    <h5>
                        {{ if .Params.course_duration }}
                        <p><strong>Course Duration:</strong> {{ .Params.course_duration }}</p>
                        {{ end }}
                        {{ if .Params.instructor }}
                        <p><strong>Instructors:</strong> {{ .Params.instructor }}</p>
                        {{ end }}
                        <p class="text-justify">
                            {{ .Content | markdownify }}
                        </p>
                    </h5>
                    
                </div>  
                {{ if .Params.references }}
                <div class="panel-references col-md-4">
                    <h6><b>References</b></h6>
                    <ul class="references-list">
                        {{ range .Params.references }}
                        <li>{{ . | markdownify }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </div>
        </div>
    </div> 
    {{ end }}
    <p>{{ .RawContent | markdownify }}</p>
</div>
{{ end }}
