<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pcooksey/bibtex-js@1.0.0/src/bibtex_js.min.js"></script>

{{ range .bibfiles }}
  <bibtex src="{{ . }}"></bibtex>
{{ end }}

<div class="bibtex_structure">
  <div class="sections bibtextypekey">
    <div class="section misc|techreport">
      <h2>preprint</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
    <div class="section article">
      <h2>journal papers</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
    <div class="section inproceedings">
      <h2>conference and workshop papers</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
    <div class="section book">
      <h2>books</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
    <div class="section phdthesis|mastersthesis|bachelorsthesis">
      <h2>other publications</h2>
      <div class="sort year" extra="DESC number">
        <div class="templates"></div>
      </div>
    </div>
  </div>
</div>

{{ if .search }}
<select class="bibtex_search"
            search="bibtextypekey">
   <option value="">Select type</option>
   <option value="ARTICLE">journal</option>
   <option value="INPROCEEDINGS">conference, workshop</option>
   <option value="PHDTHESIS"> phd thesis</option>
   <option value="MASTERTHESIS"> master thesis</option>
   <option value="TECHREPORT"> tech reports</option>
   <option value="BOOK"> books</option>
   <option value="MANUAL"> manuals</option>
   <option value="MISC">  slides, notes</option>
   <option value="UNPUBLISHED">  draft, in preparation </option>
</select>
<select class="bibtex_search bibtex_generate_author" search="author">
  <option value="">All Authors</option>
</select>
<select class="bibtex_search bibtex_generate_project" search="project" bibtex_split_by=",">
  <option value="">Search project</option>
</select>
<input type="text" class="bibtex_search" id="searchbar" placeholder="Search publications">
{{ end }} 

<div id="bibtex_display">
	<div class="bibtex_template" style="display:none;">
		<ul reversed>
			<li>
				<span>
					<span class="bibtextypekey" style="display:none;"></span>
					<span class="if title" style="font-weight: bold;">
						<span class="title"></span>
					</span>
					<div class="if author"><span class="author"></span></div>
					<span class="if booktitle">
						<em><span class="booktitle"></span></em>,
						<span class="if address">
							<span class="address"></span>
						</span>
					</span>
					<span class="if journal" style="font-style: italic;">
						<em><span class="journal"></span></em>
					</span>
					<span class="if publisher">
						<span class="publisher"></span>
					</span>
					<span class="if school">
						<span class="school"></span>
					</span>
					<span class="if volume">
						<span class="volume"></span>
						<span class="if number">(<span class="number"></span>)</span>
						<span class="if pages">:<span class="pages"></span>,
						</span>
					</span>
					<span class="if edition">
						<span class="edition"></span> ed.,
					</span><span class="year"></span>
				</span>
				<span class="if url">
					| <a class="bibtexVar" href="+URL+" extra="url">
						<span class='url'>"+URL+"</span>
					</a>
				</span>
				<span class="if doi">
				        | <a class="bibtexVar" href="http://dx.doi.org/+DOI+" extra="doi">
						<span class='doi'></span>
					</a>
				</span>
				<span class="if eprint">
					| <span class="if eprinttype==arXiv || archivePrefix==arXiv">
						<a class="bibtexVar" href="https://arxiv.org/abs/+EPRINT+" extra="eprint">
							arXiv:<span class='eprint'></span>
						</a>
					</span>
				</span>
				<span class="if pdf">
					| <a class="pdf">
						pdf 
					</a>
				</span>
				<span class="if project">
					| <span class="project"> </span>
				</span>
				<div>
					<button class = "bibtexVar" extra = "bibtexkey" 
						bibtexjs-css-escape 
						onclick="toggle(this)">bibtex</button>
					<div class="bibtexout closed">
						<span class="bibtexraw"> </span>
					</div>
				</div>
			</li>
		</ul>
</div>

	<script>
		function toggle(obj){
			obj2 = obj.nextElementSibling
			if(obj2.classList.contains("closed")){
				obj2.classList.remove("closed")
			}else{
				obj2.classList.add("closed")
			}
		}
	</script>

