{{- $orgid := printf "%s/#organization" (site.Params.canonicalBase | default site.BaseURL) -}}
{{- if .IsHome -}}
{{- $same := slice "https://scholar.google.es/citations?hl=en&user=MsMYu-IAAAAJ" "https://github.com/IPL-UV" "https://bsky.app/profile/isp-uv-es.bsky.social" "https://www.youtube.com/channel/UCTQjbAu8eGO2Sjb0MFadlLg" -}}
{{- $org := dict "@context" "https://schema.org" "@type" "ResearchOrganization" "@id" $orgid "name" site.Title "url" (site.Params.canonicalBase | default site.BaseURL) "logo" (absURL "images/isp_logo.webp") "parentOrganization" (dict "@type" "Organization" "name" "Universitat de València") "address" (dict "@type" "PostalAddress" "addressLocality" "València" "addressCountry" "ES") "sameAs" $same -}}
{{- with site.Params.description }}{{ $org = merge $org (dict "description" .) }}{{ end -}}
<script type="application/ld+json">{{ $org | jsonify | safeJS }}</script>
{{- else if and (eq .Section "people") .Params.img -}}
{{- $same := slice -}}
{{- range slice "orcid" "googlescholar" "linkedin" "twitter" "researchgate" "website" -}}
{{- with (index $.Params .) }}{{ $same = $same | append . }}{{ end -}}
{{- end -}}
{{- $roles := dict "full_professors" "Full professor" "associate_professors" "Associate professor" "assistant_professors" "Assistant professor" "senior_research_scientists" "Senior research scientist" "postdocs" "Postdoctoral researcher" "phd_students" "PhD student" "visitors" "Visiting researcher" "administrative_communications" "Communications" "alumni" "Alumnus" -}}
{{- $role := "" -}}
{{- with .File }}{{ $role = index (split (strings.TrimSuffix "/" .Dir) "/") 1 }}{{ end -}}
{{- $jobtitle := index $roles $role | default .Params.role -}}
{{- $person := dict "@context" "https://schema.org" "@type" "Person" "name" .Title "url" .Permalink -}}
{{- if eq $role "alumni" -}}
{{- $person = merge $person (dict "alumniOf" (dict "@type" "ResearchOrganization" "@id" $orgid "name" site.Title)) -}}
{{- else -}}
{{- $person = merge $person (dict "affiliation" (dict "@type" "ResearchOrganization" "@id" $orgid "name" site.Title)) -}}
{{- with $jobtitle }}{{ $person = merge $person (dict "jobTitle" .) }}{{ end -}}
{{- end -}}
{{- if $same }}{{ $person = merge $person (dict "sameAs" $same) }}{{ end -}}
<script type="application/ld+json">{{ $person | jsonify | safeJS }}</script>
{{- else if and (eq .Section "data") (or .IsPage .Params.img) -}}
{{- $desc := .Description | default .Summary | plainify | truncate 300 -}}
{{- if ge (len $desc) 50 -}}
{{- $ds := dict "@context" "https://schema.org" "@type" "Dataset" "name" .Title "url" .Permalink "description" $desc -}}
{{- with .Params.link }}{{ if hasPrefix . "http" }}{{ $ds = merge $ds (dict "distribution" (dict "@type" "DataDownload" "contentUrl" .)) }}{{ end }}{{ end -}}
<script type="application/ld+json">{{ $ds | jsonify | safeJS }}</script>
{{- end -}}
{{- end -}}
{{- if not .IsHome -}}
{{- $list := slice (dict "@type" "ListItem" "position" 1 "name" "Home" "item" (site.Params.canonicalBase | default site.BaseURL)) -}}
{{- $pos := 1 -}}
{{- range .Ancestors.Reverse -}}
{{- if not .IsHome -}}
{{- $pos = add $pos 1 -}}
{{- $list = $list | append (dict "@type" "ListItem" "position" $pos "name" .Title "item" .Permalink) -}}
{{- end -}}
{{- end -}}
{{- $pos = add $pos 1 -}}
{{- $list = $list | append (dict "@type" "ListItem" "position" $pos "name" .Title "item" .Permalink) -}}
{{- $bc := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $list -}}
<script type="application/ld+json">{{ $bc | jsonify | safeJS }}</script>
{{- end -}}
