body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #f9f9f9;
  height: 100vh;
}

.sidebar {
  width: 25%;
  padding: 10px 20px;
}

.title {
  margin-bottom: -0.1rem;
}

.subtitle {
  font-size: 90%;
  margin-bottom: 8px;
}

.content {
  width: 70%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

.banner {
  margin-bottom: 20px;
  text-align: center;
}

.banner img {
  max-width: 50%;
}


.sidebar h1 {
  margin-top: 0;
}

.sidebar img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.sidebar a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
}

.tags {
  margin-top: 20px;
}

.tags li {
  display: inline-block;
  margin: 2px;
  margin-right: 5px;
  background-color: rgba(24, 0, 69, 0.1);
  padding: 3px 8px;
  border-radius: 5px;
}

.tags li:hover {
  background-color: #e9ecef;
}

.content h2 {
  margin-top: 0;
}

.author-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 10px;
  margin-top: 20px;
}

.author {
  text-align: center;
}

.author img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.examples {
  margin-top: 20px;
}

.examples table {
  width: 100%;
  border-collapse: collapse;
}

.examples th,
.examples td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.examples th {
  background-color: #f2f2f2;
}

.examples td a {
  display: inline-block;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}


@media (max-width: 991px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
    overflow-y: visible;
    /* Eliminar el scroll */
    background-color: initial;
    box-shadow: initial;
  }

}