{{ define "main" }}
<div class="content-container">

  <h1 style="background-color: #5cb85c;"><span class="label label-success">Research labs</span></h1>
  <br>
  <br>
  <a href="http://dit.unitn.it/%7Erslab"> <img src="/isp/images/collaborators/unitn.png" height="100"></a>&nbsp &nbsp
  &nbsp

  <a href="http://devis.tuia.googlepages.com"> <img src="/isp/images/collaborators/epfl.png" height="40"></a>&nbsp&nbsp

  <a href="http://www.stats.ox.ac.uk/~sejdinov"> <img src="/isp/images/collaborators/uoxford.png"
      height="100"></a>&nbsp&nbsp

  <a href="http://ansatte.uit.no/robert.jenssen/"> <img src="/isp/images/collaborators/uit.png"
      height="100"></a>&nbsp&nbsp

  <a href="http://asi.insa-rouen.fr/"> <img src="/isp/images/collaborators/insa.png" height="100"></a>&nbsp&nbsp

  <a href="https://rsc4earth.de/"> <img src="/isp/images/collaborators/uleipzig.png" height="100"></a>&nbsp

  <a href="https://iac.ethz.ch/group/climate-physics.html"> <img src="/isp/images/collaborators/eth.png"
      height="100"></a>&nbsp

  <a href="http://web.math.ku.dk/~peters/"> <img src="/isp/images/collaborators/ucop.png" height="100"></a>&nbsp

  <a href="https://michaelgutmann.github.io/"> <img src="/isp/images/collaborators/uedi.png" height="100"></a>&nbsp

  <a href="http://www.cmcc.it/people/papale-dario"> <img src="/isp/images/collaborators/utuscia.jpeg"
      height="100"></a>&nbsp

  <a href="http://www.raulsantosrodriguez.com/"> <img src="/isp/images/collaborators/ubristol.png" height="60"></a>&nbsp

  <a href="http://ei.is.tuebingen.mpg.de"> <img src="/isp/images/collaborators/mpi.png" height="100"></a>&nbsp

  <a href="http://bethgelab.org"> <img src="/isp/images/collaborators/mpi.png" height="100"></a>&nbsp

  <a href="https://www.bgc-jena.mpg.de/bgi/index.php/Main/HomePage"> <img src="/isp/images/collaborators/mpi.png"
      height="100"></a>&nbsp

  <a href="https://climateinformaticslab.com/about/"> <img src="/isp/images/collaborators/dlr.png"
      height="100"></a>&nbsp

  <a href="http://www.pa.op.dlr.de/~/VeronikaEyring/"> <img src="/isp/images/collaborators/ub.png"
      height="100"></a>&nbsp

  <a href="http://www.ntsg.umt.edu/"> <img src="/isp/images/collaborators/montana.png" height="100"></a>&nbsp

  <a href="https://www.ugent.be/bw/environment/en/research/h-cel"> <img src="/isp/images/collaborators/ughent.png"
      height="150"></a>&nbsp&nbsp

  <a href="https://gentinelab.eee.columbia.edu/"> <img src="/isp/images/collaborators/cu.png" height="120"></a>&nbsp

  <a href="http://www.cns.nyu.edu/~lcv/"> <img src="/isp/images/collaborators/nyu.png" height="100"></a>&nbsp

  <a href="http://vision.arc.nasa.gov"> <img src="/isp/images/collaborators/nasa.jpeg" height="100"></a>&nbsp

  <a href="http://www.cs.helsinki.fi/en"> <img src="/isp/images/collaborators/uh.png" height="100"></a>&nbsp

  <a href="https://www.noa.gr/"> <img src="/isp/images/collaborators/noa.png" height="100"></a>&nbsp

  <br><br>







  <a href="http://ipl.uv.es/leo"> <img src="/isp/images/collaborators/leo.png" height="80"></a>&nbsp

  <a href="http://www3.uji.es/~epifanio"> <img src="/isp/images/collaborators/uji.jpeg" height="100"></a>&nbsp

  <a href="https://www.acim.lafe.san.gva.es/acim/?page_id=1229"> <img src="/isp/images/collaborators/gva.png"
      height="100"></a>&nbsp

  <a href="http://www.neurocipf.es/web/neurocipf/inicio"> <img src="/isp/images/collaborators/cipf.jpeg"
      height="100"></a>&nbsp

  <a
    href="https://www.uv.es/uvweb/doctoral-remote-sensing/en/presentation/resources/research-groups/environmental-remote-sensing-group-uv-ers-1285918607589.html">
    <img src="/isp/images/collaborators/ers.jpg" height="100"></a>&nbsp

  <a href="http://www.io.csic.es/PagsPers/JPortilla/"> <img src="/isp/images/collaborators/csic.png"
      height="100"></a>&nbsp

  <a href="http://www.cat.uab.cat/%7Emaria/"> <img src="/isp/images/collaborators/uab.png" height="60"></a>&nbsp

  <a href="http://www.umbc.edu/rssipl/people/aplaza"> <img src="/isp/images/collaborators/uniextrema.jpeg"
      height="100"></a>&nbsp

  <a href="http://www.dtic.upf.edu/~mbertalmio"> <img src="/isp/images/collaborators/upf.jpeg" height="100"></a>&nbsp

  <a href="http://thevisualanalogylab.wix.com/valab"> <img src="/isp/images/collaborators/csic.png"
      height="100"></a>&nbsp

  <a href="http://www.tsc.uc3m.es"> <img src="/isp/images/collaborators/uc3m.png" height="100"></a>&nbsp

  <a href="https://tsc.urjc.es/"> <img src="/isp/images/collaborators/urjc.png" height="100"></a>&nbsp

  <a href="http://decsai.ugr.es/%7Erms"> <img src="/isp/images/collaborators/ugr.png" height="140"></a>&nbsp

  <a href="http://agamenon.tsc.uah.es/Personales/sancho"> <img src="/isp/images/collaborators/uah.jpeg"
      height="120"></a>&nbsp

  <a href="http://www.cvc.uab.cat/"> <img src="/isp/images/collaborators/cvc.jpg" height="100"></a>&nbsp &nbsp &nbsp

  <a href="https://dhnzl.org/"> <img src="/isp/images/collaborators/uam.png" height="100"></a>&nbsp &nbsp &nbsp

  <a href="http://luiguapa.webs.upv.es"> <img src="/isp/images/collaborators/upv.png" height="130"></a>&nbsp

  <a href="http://www.unizar.es/icma/depart/i+v/rafaelnb.htm"> <img src="/isp/images/collaborators/unizar.png"
      height="120"></a>&nbsp
  <br>
  <br>
  <h1><span class="label label-info">Organizations & Networks</span></h1>
  <br>
  <br>
  <a href="https://www.ellis.eu/"> <img src="/isp/images/collaborators/ellis.png" height="100"></a>&nbsp

  <a href="https://claire-ai.org/"> <img src="/isp/images/collaborators/claire.png" height="40"></a>&nbsp

  <a href="http://www.i-aida.org/"> <img src="/isp/images/collaborators/aida.jpeg" height="100"></a>&nbsp

  <a href="https://www.internal-displacement.org/"> <img src="/isp/images/collaborators/idmc.png" height="60"></a>&nbsp

  <a href="https://www.worldbank.org/"> <img src="/isp/images/collaborators/worldbank.jpeg" height="100"></a>&nbsp

  <a href="https://www.unep.org/"> <img src="/isp/images/collaborators/unep.png" height="120"></a>&nbsp


  <br>
  <br>

  <a href="https://www.essc.esf.org/"> <img src="/isp/images/collaborators/essc.png" height="120"></a>&nbsp

  <a href="https://www.ign.es/"> <img src="/isp/images/collaborators/ign.jpeg" height="120"></a>&nbsp

  <a href="https://scholar.google.de/citations?user=1PEE6toAAAAJ&hl=en"> <img src="/isp/images/collaborators/aemet.png"
      height="60"></a>&nbsp&nbsp&nbsp&nbsp

  <a href="http://www.icv.gva.es"> <img src="/isp/images/collaborators/icv.jpg" height="100"></a>&nbsp&nbsp
  <br>
  <br>
  <h1 style="background-color: #f0ad4e;"><span class="label label-warning">Companies</span></h1>
  <br>

  <a href="http://eumetsat.int"> <img src="/isp/images/collaborators/eum.jpeg" height="100"></a>&nbsp&nbsp

  <a href="http://esa.int"> <img src="/isp/images/collaborators/esa.png" height="100"></a>&nbsp&nbsp

  <a href="http://vision.arc.nasa.gov"> <img src="/isp/images/collaborators/nasa.jpeg" height="120"></a>&nbsp&nbsp

  <a href="https://www.descarteslabs.com"> <img src="/isp/images/collaborators/descartes.png"
      height="100"></a>&nbsp&nbsp

  <a href="https://www.google.com/research"> <img src="/isp/images/collaborators/google.png"
      height="100"></a>&nbsp&nbsp&nbsp&nbsp

  <a href="https://www.analog.com/"> <img src="/isp/images/collaborators/analog.png" height="60"></a>&nbsp&nbsp&nbsp

  <a href="http://www.maxar.com/"> <img src="/isp/images/collaborators/maxar.png" height="60"></a>&nbsp&nbsp&nbsp&nbsp

  <a href="https://www.brockmann-consult.de/"> <img src="/isp/images/collaborators/brockmann.jpeg"
      height="100"></a>&nbsp&nbsp&nbsp&nbsp

  <a
    href="https://www.jnj.com/news/all/VISTAKON-Division-Of-Johnson-Johnson-Vision-Care-Inc-Sponsors-Free-Eye-Exam-Event-For-World-Sight-Day">
    <img src="/isp/images/collaborators/jj.png" height="100"></a>&nbsp&nbsp

  <a href="https://www.gmv.com/"> <img src="/isp/images/collaborators/gmv.png" height="120"></a>&nbsp&nbsp

  <a href="http://www.davalorsalud.com/"> <img src="/isp/images/collaborators/davalor.png" height="200"></a>&nbsp&nbsp

  <a href="http://www.starlab.es/"> <img src="/isp/images/collaborators/starlab.png" height="80"></a>&nbsp&nbsp


  <br><br>
  <h1 style="background-color: #d9534f;"><span class="label label-danger">Funding bodies</span></h1>
  <br><br>
  <a href="https://erc.europa.eu/"><img src="/isp/images/collaborators/LOGO_ERC.png" height="130"></a>&nbsp&nbsp

  <a href="https://erc.europa.eu/"><img src="/isp/images/collaborators/h1020-Logo1.jpg" height="100"></a>&nbsp&nbsp

  <a href="https://erc.europa.eu/"><img src="/isp/images/collaborators/mineco.png" height="70"></a>&nbsp&nbsp

  <a href="https://erc.europa.eu/"><img src="/isp/images/collaborators/gva.png" height="140"></a>&nbsp&nbsp

  <a href="https://erc.europa.eu/"><img src="/isp/images/collaborators/eu_marie_curie.png" height="80"></a>&nbsp&nbsp

  <br><br>

  <a href="https://erc.europa.eu/"><img src="/isp/images/collaborators/bbva.png" height="100"></a>&nbsp&nbsp

  <a href="https://erc.europa.eu/"><img src="/isp/images/collaborators/lacaixa.jpg" height="100"></a>&nbsp&nbsp
  <br><br>
  <br><br>

</div>
{{ end }}