{{ define "main" }}
<div id="loading-spinner" style="text-align: center; margin-top: 50px;">
  <img src="/images/spinner.gif" alt="" width="50" height="50">
</div>

<div class="content-container" style="display: none;" id="content-container">
  <div class="title-container">
    <h1>{{ .Title }}</h1>
  </div>

  <!-- Input BibTeX Oculto -->
  <textarea id="bibtex_input" style="display:none;">
    {{- range .Params.bibfiles }}
    {{- $path := printf "assets/%s" . }}
    {{- $content := readFile $path }}
    {{ $content }}
    {{- end }}
  </textarea>

  <!-- Filtros -->
  <div class="grid-item grid-filter">
    <div class="filter-container">
      <label for="year-filter">Filter by:</label>
      <select id="year-filter">
        <option value="">All Years</option>
      </select>

      <label for="project-filter"></label>
      <select id="project-filter">
        <option value="">All Projects</option>
      </select>
    </div>
  </div>

  <!-- Contenedor de las entradas de BibTeX -->
  <div class="grid-container" id="bibtex_display"></div>

  <!-- Plantilla de BibTeX -->
  <div class="bibtex_template">
    <div class="grid-item bib-item seminar-item project-item">
      <span class="title" style="font-weight: bold;"></span><br>
      <span class="author"></span><br>
      <span class="if booktitle" style="font-style: italic;">
        <span class="booktitle"></span>,
        <span class="if address" style="font-style: normal;">
          <span class="address"></span>
        </span>
      </span>
      <span class="if journal" style="font-style: italic;">
        <span class="journal"></span>
      </span>
      <span class="year"></span><br>
      <span class="project" style="display: none;"></span>

      <!-- Botones para enlaces adicionales -->
      <span class="if bibtex">
        <button type="button" class="btn btn-xss btn-success bibtex-toggle" onclick="toggleBibtex(this)">BibTeX</button>
      </span>
      <span class="if url">
        <a class="url">
          <button type="button" class="btn btn-xss btn-info">URL</button>
        </a>
      </span>
      <span class="if pdf">
        <a class="pdf" style="color: #FFFFFF;">
          <button type="button" class="btn btn-xss btn-danger">PDF</button>
        </a>
      </span>
      <span class="if doi">
        <a class="doi">
          <button type="button" class="btn btn-xss btn-warning">DOI</button>
        </a>
      </span>

      <span class="if arxiv">
        <a class="arxiv">
          <button type="button" class="btn btn-xss btn-danger">arXiv</button>
        </a>
      </span>

      <span class="if video">
        <a class="video">
          <button type="button" class="btn btn-xss btn-info">Watch!</button>
        </a>
      </span>

      <span class="if code">
        <a class="code">
          <button type="button" class="btn btn-xss btn-success">Code</button>
        </a>
      </span>

      <span class="if project">
        <a class="project">
          <button type="button" class="btn btn-xss btn-primary">Project</button>
        </a>
      </span>

      <span class="if doi">
        <div style="display: inline-block;" class='doi altmetric-embed' data-hide-no-mentions='true'
          data-link-target='_blank'></div>
      </span>
      
      <!-- Contenedor del contenido BibTeX -->
      <div class="bibtexdata alert alert-success" style="display: none;">
        <span class="bibtex"></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/jquery-1.12.4.min.js" defer></script>
<script type="text/javascript" src="/js/bibtex_js.js" defer></script>
<script type="text/javascript" src="/js/bibtex_functions.js" defer></script>
<script async src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script> <!-- Altmetric script -->
<script>
  // Función para mostrar/ocultar el contenido BibTeX
  function toggleBibtex(button) {
    const container = $(button).closest('.bib-item');
    const bibtexElement = container.find('.bibtexdata');
    bibtexElement.slideToggle(); // Usar jQuery para hacer el toggle más suave
  }

  document.addEventListener("DOMContentLoaded", function() {
    let bibtexDisplay = new BibtexDisplay();
    let bibtexData = document.getElementById('bibtex_input').value;

    // Inicializar la visualización de BibTeX
    function initializeBibtex() {
      requestAnimationFrame(() => {
        bibtexDisplay.displayBibtex(bibtexData, $("#bibtex_display"), {});
        addYearsAndProjects();
        updateFilters();
        document.getElementById('content-container').style.display = 'block';
        document.getElementById('loading-spinner').style.display = 'none';
      });
    }

    // Función para agregar los años y proyectos a los filtros
    function addYearsAndProjects() {
      let yearSet = new Set();
      let projectSet = new Set();

      // Iterar sobre los elementos generados de BibTeX para extraer los años y proyectos
      $(".year").each(function() {
        let year = $(this).text().trim();
        if (year !== "" && year !== "All Years") {
          yearSet.add(year);
        }
      });

      $(".bib-item").each(function() {
        const projectText = $(this).find(".project").text().trim();
        if (projectText) {
          projectText.split(",").forEach(project => {
            projectSet.add(project.trim());
          });
        }
      });

      // Convertir yearSet a un array, filtrar y ordenar de manera adecuada
      let yearArray = Array.from(yearSet);

      // Filtrar y ordenar adecuadamente para que "Submitted" e "In preparation" estén al final
      yearArray = yearArray.filter(year => year !== "Submitted" && year !== "In preparation")
                          .sort((a, b) => b - a); // Ordenar de mayor a menor para años numéricos
      if (yearSet.has("Submitted")) yearArray.push("Submitted");
      if (yearSet.has("In preparation")) yearArray.push("In preparation");

      // Añadir los años únicos al filtro de años
      yearArray.forEach(year => {
        $('#year-filter').append(`<option value="${year}">${year}</option>`);
      });

      // Añadir los proyectos únicos al filtro de proyectos
      projectSet.forEach(project => {
        $('#project-filter').append(`<option value="${project}">${project}</option>`);
      });
    }

    // Actualizar los proyectos según el año seleccionado
    function updateProjectFilter() {
      const selectedYear = document.getElementById('year-filter').value;
      let projectSet = new Set();

      $(".bib-item").each(function() {
        const itemYear = $(this).find(".year").text().trim();
        const itemProjects = $(this).find(".project").text().trim();

        if ((selectedYear === "" || itemYear === selectedYear) && itemProjects) {
          itemProjects.split(",").forEach(project => {
            projectSet.add(project.trim());
          });
        }
      });

      // Limpiar las opciones de proyecto y agregar las nuevas opciones correspondientes
      $('#project-filter').empty();
      $('#project-filter').append('<option value="">All Projects</option>');

      projectSet.forEach(project => {
        $('#project-filter').append(`<option value="${project}">${project}</option>`);
      });
    }

    // Actualizar las visualizaciones según los filtros
    function updateFilters() {
      const year = document.getElementById('year-filter').value;
      const project = document.getElementById('project-filter').value;
      const items = document.querySelectorAll('.bib-item');

      items.forEach(item => {
        const itemYear = item.querySelector('.year') ? item.querySelector('.year').textContent.trim() : '';
        const itemProjects = item.querySelector('.project') ? item.querySelector('.project').textContent.trim() : '';

        const yearMatch = (year === "" || itemYear === year);
        const projectMatch = (project === "" || itemProjects.includes(project));

        if (yearMatch && projectMatch) {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });

      // Actualizar el filtro de proyectos cuando se actualizan las visualizaciones
      updateProjectFilter();
    }

    // Inicializar el contenido BibTeX y configurar los filtros
    initializeBibtex();

    // Adjuntar evento para actualizar los filtros cuando cambian
    document.getElementById('year-filter').addEventListener('change', updateFilters);
    document.getElementById('project-filter').addEventListener('change', updateFilters);
  });
</script>


{{ end }}
