{{ define "main" }}
<div class="content-container"></div>

<script type="module">
  import Ajv from 'https://cdn.skypack.dev/ajv';

  // Cargar el esquema y validar los datos JSON
  async function validateData(filePath, schemaPath) {
    const response = await fetch(filePath);
    const data = await response.json();

    const schemaResponse = await fetch(schemaPath);
    const schema = await schemaResponse.json();

    const ajv = new Ajv();
    const validate = ajv.compile(schema);

    const valid = validate(data);

    if (!valid) {
      console.error(`Error de validación en el archivo ${filePath}:`);
      validate.errors.forEach(error => {
        console.error(`  - En la propiedad ${error.instancePath}: ${error.message}`);
      });
    } else {
      console.log('Los datos son válidos.');
    }
  }

  // Validar cada archivo JSON
  const files = [
    'alumni.json',
    'assistant_professors.json',
    'associate_professors.json',
    'full_professors.json',
    'phd_students.json',
    'postdocs.json',
    'senior_research_scientists.json',
    'visitors.json'
  ];

  const schemaPath = '/isp/schema.json';

  files.forEach(file => {
    validateData(`/isp/data/people/${file}`, schemaPath);
  });
</script>






<script>

  async function loadData(filePath) {
    const response = await fetch(filePath);
    return response.json();
  }

  async function loadAllData() {
    const groups = [
      "full_professors",
      "associate_professors",
      "assistant_professors",
      "senior_research_scientists",
      "postdocs",
      "phd_students",
      "visitors",
      "alumni"
    ];
    const dataBasePath = '/isp/data/people/';

    for (const group of groups) {
      const filePath = `${dataBasePath}${group}.json`;
      const data = await loadData(filePath);

      const container = document.querySelector('.content-container');

      const groupTitle = document.createElement('h1');
      groupTitle.style.marginBottom = '20px';
      groupTitle.classList.add('label', 'label-info');
      groupTitle.textContent = data.groupTitle;
      container.appendChild(groupTitle);


      const cardContainer = document.createElement('div');
      cardContainer.classList.add('card-container');
      cardContainer.style.marginLeft = '3%';
      container.appendChild(cardContainer);

      const basePath = '/isp/images/people/';

      data.members.forEach(person => {
        const card = document.createElement('div');
        card.classList.add('card', 'mb-3');
        card.innerHTML = `
            <div class="row g-0">
              <div class="col-md-3">
                <img src="${basePath + person.image}" class="img-fluid" alt="Imagen de ${person.name}">
              </div>
              <div class="col-md-9">
                <div class="card-body" style="max-height: 200px;">
                  <h5 class="card-title" style="font-size: 88.5%; margin-top:-10px"><b>${person.name}</b></h5>
                  <p class="card-text" style="font-size: 0.95em;">${truncateText(person.description, 150)}</p>
                  <div class="card-links">
                    ${person.social_networks.google_scholar && person.social_networks.google_scholar !== null ? `<a href="${person.social_networks.google_scholar}"><img src="/isp/images/people/redes/gscholar.png" height="25" width="25"></a>` : ''}
                    ${person.social_networks.orcid && person.social_networks.orcid !== null ? `<a href="${person.social_networks.orcid}"><img src="/isp/images/people/redes/orcid.png" height="25" width="25"></a>` : ''}
                    ${person.social_networks.twitter && person.social_networks.twitter !== null ? `<a href="${person.social_networks.twitter}"><img src="/isp/images/people/redes/twitter.png" height="24" width="30"></a>` : ''}
                    ${person.social_networks.github && person.social_networks.github !== null ? `<a href="${person.social_networks.github}"><img src="/isp/images/people/redes/github.png" height="25" width="25"></a>` : ''}
                    ${person.social_networks.semantic_scholar && person.social_networks.semantic_scholar !== null ? `<a href="${person.social_networks.semantic_scholar}"><img src="/isp/images/people/redes/semantic.png" height="25" width="25"></a>` : ''}
                    ${person.social_networks.researchgate && person.social_networks.researchgate !== null ? `<a href="${person.social_networks.researchgate}"><img src="/isp/images/people/redes/rg.png" height="25" width="25"></a>` : ''}
                    ${person.social_networks.personal_uv && person.social_networks.personal_uv !== null ? `<a href="${person.social_networks.personal_uv}" class="btn btn-xss btn-info" aria-label="Left Align">UV</a>` : ''}
                    ${person.social_networks.linkedin && person.social_networks.linkedin !== null ? `<a href="${person.social_networks.linkedin}"><img src="/isp/images/people/redes/linkedin.png" height="25" width="25"></a>` : ''}
                    ${person.social_networks.ieee && person.social_networks.ieee !== null ? `<a href="${person.social_networks.ieee}"><button type="button" class="btn btn-xss btn-success" aria-label="Left Align">IEEE</button></a>` : ''}
                    ${person.social_networks.dblp && person.social_networks.dblp !== null ? `<a href="${person.social_networks.dblp}"><button type="button" class="btn btn-xss btn-danger" aria-label="Left Align">dblp</button></a>` : ''}
                    ${person.social_networks.personal_website && person.social_networks.personal_website !== null ? `<a href="${person.social_networks.personal_website}"><button type="button" class="btn btn-xss btn-info" aria-label="Left Align">Website</button></a>` : ''}
                    ${person.social_networks.causality && person.social_networks.causality !== null ? `<a href="${person.social_networks.causality}"><button type="button" class="btn btn-xss btn-success" aria-label="Left Align">Causality</button></a>` : ''}
                    ${person.social_networks.manifold_learning && person.social_networks.manifold_learning !== null ? `<a href="${person.social_networks.manifold_learning}"><button type="button" class="btn btn-xss btn-danger" aria-label="Left Align">Manifold Learning</button></a>` : ''}
                   </div>
                </div>
              </div>
            </div>
          `;
        cardContainer.appendChild(card);
      });
    }
  };
  document.addEventListener('DOMContentLoaded', loadAllData);


  function truncateText(text, maxLength) {
  if (text.length > maxLength) {
    return text.slice(0, maxLength) + '...';
  }
  return text;
}
</script>
{{ end }}
