{{ define "main" }}
<div class="content-container">
  <h1><span class="label label-info">News</span></h1>


  <table class="table table-hover table-condensed table-responsive" cols="4">

    <tr class="info">
      <td><b>2019</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="https://isp.uv.es/soft_regression.html" class="list-group-item">Cool! Impressive progress in our toolboxes - Gaussian processes repository & many more. Give it a try! Feedback welcome</a></td>
    </tr>

    <tr class="info">
      <td><b>2018</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="http://isp.uv.es/papers/proyectoJMalo.pdf" class="list-group-item"> Jesus Malo got the full
          professorship in Vision Science at the Department of Physics in july 2018.</a></td>
    </tr>

    <tr>
      <td><a href="CLOUDSAT_postdoc.pdf" class="list-group-item"> We offer one <b>PostDoc research position</b>.
          Starting in June 2018. Application deadline May, 2018.</a></td>
    </tr>

    <tr>
      <td><a href="http://isp.uv.es/people.html" class="list-group-item"> <b>The group is growing quite a lot!</b> New
          people with lots of ideas, background and expertises. Welcome Jose Enrique, Jose Juan, Diego, Dan, Emiliano,
          and Emma! Check their profiles and exciting research here!</a></td>
    </tr>

    <tr>
      <td><a href="https://scholar.google.es/citations?hl=en&user=MsMYu-IAAAAJ" class="list-group-item"> We reached an
          h-index of 60. Follow our research here!</a> </td>
    </tr>

    <tr>
      <td><a href="https://www.ieee.org/membership_services/membership/fellows/2018_elevated_fellows.pdf"
          class="list-group-item"> Professor Camps-Valls was recently elevated to the grade of IEEE Fellow by the
          Geoscience and Remote Sensing Society, and also recognized by the Signal Processing Society.</a> </td>
    </tr>


    <tr class="info">
      <td><b>2017</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="CLOUDSAT_anuncio.pdf" class="list-group-item"> We offer one <b>three-year PhD position</b>. Starting
          in January 2018. Application deadline November 13, 2017.</a></td>
    </tr>

    <tr>
      <td><a href="annoucement_september_2017.txt" class="list-group-item"> July 2017: We offer two <b>three-year
            post-doc positions</b>. Join an excellent European ERC team. Starting in October 2017. Application deadline
          20 August.</a></td>
    </tr>

    <tr>
      <td><a href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1118611799.html" class="list-group-item">We are
          excited about the publication of our new book, entitled "Digital Signal Processing with Kernel Methods", by
          Rojo-Álvarez, J.L. and Martínez-Ramón, M. and Muñoz-Marí, J. and Camps-Valls, G., upcoming this Fall and
          published by Wiley and sons.</a></td>
    </tr>

    <tr>
      <td><a href="https://scholar.googleblog.com/2017/06/classic-papers-articles-that-have-stood.html"
          class="list-group-item"> We are a classic! <i>"Composite kernels for hyperspectral image classification"</i>
          published in IEEE Geoscience and Remote Sensing Letters in 2006 is one of the highly-cited papers in its area
          of research, mainteining its impact long after publication.</a></td>
    </tr>

    <tr>
      <td><a href="https://www.youtube.com/watch?v=EgBIbWuDs0Y" class="list-group-item"> <b>Mètode TV SEDAL:</b> From
          MètodeTV, the channel of the Universitat de València, SEDAL is introduced to the public.</a>
      <td>
    </tr>

    <tr>
      <td><a href="http://journal.frontiersin.org/journal/neuroscience/section/perception-science#editorial-board"
          class="list-group-item"> Prof. Jesus Malo has been appointed as Associate Editor of Frontiers in Neuroscience
          (IF = 3.4), section Perception Science (may 2017)</a></td>
    </tr>

    <tr>
      <td><a href="http://sites.ieee.org/spain-grss/" class="list-group-item"> Maria Piles (president) and Gustau
          Camps-Valls (member) in the Executive Committee of the Spain Geoscience and Remote Sensing Chapter. Let's do
          things to promote technology and science in remote sensing!</a></td>
    </tr>

    <tr>
      <td><a href="annoucement_april_2017.txt" class="list-group-item"> We are looking for an outstanding student to do
          a PhD thesis within an excellence european ERC project! Deadline: April 1st 2017! Is this you?</a></td>
    </tr>

    <tr>
      <td><a
          href="http://www.uv.es/uvweb/college/en/news-release/water-hidden-driver-earth-s-carbon-cycle-1285846070123/Noticia.html?id=1285993414059"
          class="list-group-item"> An international research involving the Universitat de València just provided a new
          vision in the quest to determine whether temperature or water availability is the most influential factor in
          determining the success of global, land-based carbon sinks. The results are published in Nature with Gustau
          Camps-Valls as co-author </a></td>
    </tr>

    <tr class="danger">
      <td><b>2016</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="https://sites.google.com/site/mariapiles/" class="list-group-item">Dr. Maria Piles will join the ISP
          group through a prestigious "Ramón y Cajal" fellowship next January 2017. The ISP consolidates the research
          line of retrieval of soil moisture and vegetation biogeophysical parameters from space observations (microwave
          radiometers, radars and hyperspectral imagers). Welcome Maria!</a></td>
    </tr>

    <tr>
      <td><a href="http://www.grss-ieee.org/education/distinguished-lecturers/" class="list-group-item">Prof. Gustau
          Camps-Valls was appointed as IEEE Distinguished Lecturer of the Geoscience and Remote Sensing Society
          (GRSS).</a></td>
    </tr>

    <tr>
      <td><a href="http://www.dagstuhl.de/de/programm/kalender/semhp/?semnr=17091" class="list-group-item">We will
          organize a Dagstuhl seminar on "Computer Science meets Ecology" gathering the best researchers of both worlds
          in a unique environment for fruitful discussions.</a></td>
    </tr>

    <tr>
      <td><a
          href="http://www.grss-ieee.org/wp-content/uploads/2015/05/more_tutorials_2016/media/about_gustaucampsvalls.html"
          class="list-group-item">We published learning material on geoscience and remote sensing data processing in
          IEEE GRSS training material online!</a></td>
    </tr>

    <tr>
      <td><a href="http://www.pcuv.es/es/news-room/noticias-destacadas/2016/analog" class="list-group-item">Analog
          Devices moves to the Science Park of the UV. New facilities and closer collaborations. Welcome back, Javi!</a>
      </td>
    </tr>

    <tr>
      <td><a
          href="http://research.google.com/research-outreach.html#/research-outreach/faculty-engagement/earth-engine-research-awards"
          class="list-group-item">Luis Gómez-Chova received a Google Earth Engine Research Award 2015 to foster research
          in cloud detection.</a></td>
    </tr>

    <tr>
      <td><a href="http://www.grss-ieee.org/conferences/future-igarss/" class="list-group-item">We organize here in
          València the biggest IEEE remote sensing and geoscience conference, IGARSS, in 2018.</a></td>
    </tr>

    <tr>
      <td><a href="sedal.html" class="list-group-item">Gustau Camps-Valls recently got an ERC consolidator grant
          (ERC-CoG) with the project "Statistical Learning for Remote Sensing Data Analysis" (SEDAL) for the period
          2015-2020. Positions available here!</a></td>
    </tr>


</div>
{{ end }}