{{ define "main" }}
<div class="content-container" style="font-size: 14px;">
  <h1 style="margin-bottom: 20px;">News</h1>
  <br>
  <div id="news-container">
    {{ $years := .Pages.GroupByDate "2006" }}
    {{ range $years }}
      <h2 class="news-year">{{ .Key }}</h2>
      <ul class="news-list">
        {{ range .Pages }}
          <li class="news-item">
            {{ if .Params.externalLink }}
              <a href="{{ .Params.externalLink }}" target="_blank" rel="noopener noreferrer">
            {{ else }}
              <a href="{{ .RelPermalink }}">
            {{ end }}
              <p class="news-summary">{{ .Summary }}</p>
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>
{{ end }}
